body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   background-image: url("WhatsApp\ Image\ 2024-06-02\ at\ 10.46.00.jpeg");
   background-repeat: no-repeat;
}

.Social {
   width: 195px;
   color: white;
   margin: 0 auto;
}

.Build, .build, .is {
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.is {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
   margin: 0 auto;
   font-size: 20px;
}

.email {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 30px;
   width: 350px;
   height: 50px;
   margin: 0 auto;
}

.submit-button {
   padding: 10px 20px;
   margin-top: 10px;
   background-color: #000000;
   color: white;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   font-size: 16px;
   width: 360px;
   font-weight: bold;
   margin: 10px auto;
}

.submit-button:hover {
   background-color: #3949ab;
}

.paragraf1, .foto1 {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   margin: 10px auto;
}

.paragraf1{
   color: white;
}

.foto1 {
   width: 550px;
   margin-top: 30px;
   background-color: white;
}

.fullimage, .rh, .fullimage1, .fullimage2, .rh1, .betterr, .bayme{
   margin: 10px auto;
   text-align: center;
}

.selll {
   margin-left: -380px;
}

.sell {
   margin-left: -530px;
   margin-bottom: 10px;
   margin-top: 30px;
}

.sel {
   margin-left: -630px;
   margin-bottom: -20px;
   margin-top: 12px;
}

.producttt {
   margin-left: 480px;
}

.productt {
   margin-left: 380px;
   margin-top: -120px;
   margin-right: 80px;
}

.customise {
   margin-left: -320px;
   word-spacing: -1px;
}

.customise1 {
   margin-left: -300px;
   word-spacing: -1px;
}

.choosee {
   margin-left: -350px;
   font-size: 25px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choose {
   margin-left: 300px;
   padding-right: 100px;
}

.product {
   margin-right: 180px;
   margin-left: 50px;
}

.wand {
   width: 50px;
   margin-top: 60px;
   margin-right: 300px;
   margin-left: -250px;
   margin-bottom: -10px;
}

.choosee, .productt, .sell, .betterr, .bayme {
   font-size: 25px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.betterr {
   font-size: 20px;
   font-weight: 200;
}

.rh, .rh1 {
   margin-left: -40px;
}

.site, .priv, .term {
   justify-content: center;
   color: black;
   font-weight: bolder;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.site{
   padding-left: 120px;
   margin-top: 100px;
}

.priv{
   padding-left: 100px;
}